@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    transition: 0.5s;
}
:root{
    --primary:#F4F4F4;
    --secondary:#303B38;
    --ofertas:#2FB670;
    --color-fonts:#000000;
}

body {
    background-image: url(Resources/burguer.jpeg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.header{
    height: 80px;
    width: 100%;
    background-color: var(--secondary);
    border-radius: 5px;
    margin: 30px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}

.header .logo{
    font-size: 30px;
    font-weight: bold;
    color: var(--primary);
}

.cart{
    display: flex;
    background-color: var(--primary);
    justify-content: space-between;
    align-items: center;
    padding: 7px 10px;
    border-radius: 5px;
    width: 80px;
}

.fa-regular{
    color: var(--secondary);
}

.cart p{
    height: 22px;
    width: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 22px;
    background-color: var(--secondary);
    color: aliceblue;
}

.container {
    display: flex;
    width: 100%;
    margin-bottom: 30px;
}

/* #root{
    width: 60%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
} */

.slidebar{
    width: 90%;
    border-radius: 5px;
    background-color: var(--primary);
    margin-left: 20px;
    padding: 15px;
    text-align: center;
}

.head{
    background-color:var(--secondary);
    border-radius: 5px;
    height: 40px;
    padding: 10px;
    margin-bottom: 20px;
    color: var(--primary);
    display: flex;
    align-items: center;
}
.foot{
    display: flex;
    justify-content: space-between;
    margin: 20px 0px;
    padding: 10px 0px;
    border-top: 1px solid #333;
}

#cartItem{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: var(--primary);
    border-bottom: 1px solid #aaa;
    border-radius: 5px;
    margin: 10px 10px;

}

.row-img{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: 1px solid var(--secondary);
    display: flex;
    align-items: center;
    justify-content: center;
}

.rowimg{
    max-width: 40px;
    max-height: 40px;
    border-radius: 50px;
}

@media screen and (min-width: 768px) {

    .header {
        /* Modifica el tamaño y los márgenes del encabezado */
        height: 60px;
        margin: 20px 0px;
      }
      
      .header .logo {
        /* Modifica el tamaño de la fuente del logo */
        font-size: 24px;
      }
      
      .cart {
        /* Modifica el tamaño y el espaciado del carrito */
        padding: 5px;
        width: 60px;
      }
      
      .cart p {
        /* Modifica el tamaño del icono del carrito */
        height: 18px;
        width: 18px;
        font-size: 12px;
      }
      
      .container {
        /* Modifica el margen inferior del contenedor */
        margin-bottom: 20px;
        display: flex;
        justify-content: center; /* Centra horizontalmente */
        align-items: center; /* Centra verticalmente */
      }
      
      .slidebar {
        /* Modifica el margen izquierdo y el tamaño del slidebar */
        margin: 10px;
         max-width: 80%;
      }
      
      .head {
        /* Modifica el margen inferior y el tamaño del encabezado */
        margin-bottom: 10px;
        height: 30px;
        padding: 5px;
      }
      
      .foot {
        margin: 10px 10px;
        padding: 5px 0px;
      }
      
      #cartItem {
        margin: 15px 30px;
        padding: 20px;
        border: solid var(--secondary);
        
      }
  }